{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Events Calendar | NIT-Trichy</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "landing/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "landing/css/new-age.css" %}" rel="stylesheet">
    <link href="{% static "landing/css/cards.min.css" %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <header class="masthead">
      <div class="container">
        <div style="float:right; margin-bottom:20px;" class="row">
          <a class="btn btn-success btn-md" href="{% url 'events:event_create' %}">Create Event</a>
          {% if is_admin %}
          <a class="btn btn-success btn-md" href="{% url 'events:category_create' %}">Create Category</a>
          <a class="btn btn-success btn-md" href="{% url 'events:category_delete' %}">Delete Category</a>
          {% endif %}
        </div>
        <br />
        <div class="row" style="width:100%; margin:0px;">
            {% block content %}
            {% endblock %}
        </div>
      </div>
    </header>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "landing/vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "landing/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  </body>

</html>
