{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Events Calendar | NIT-Trichy</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "landing/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "landing/css/new-age.css" %}" rel="stylesheet">
    <link href="{% static "landing/css/cards.min.css" %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
          <div class="container">
                  <img style="width:100%" src="{% static 'landing/img/nittfulllogo.png' %}" class = "image-full" alt="">
                  <center><img src="{% static 'landing/img/nittmobilelogo.png' %}" class = "image-mobile" alt="" width="300px"></center>
          </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        {% if is_admin %}
            <div style="float:right; margin-bottom:20px;" class="row">
              <a class="btn btn-success btn-sm" href="{% url 'events:event_create' %}">Create Event</a>
              <a class="btn btn-success btn-sm" href="{% url 'events:category_create' %}">Create Category</a>
            </div>
        {% endif %}
        <br />
        <div class="row" style="width:100%">
            {% block content %}
            {% endblock %}
        </div>
      </div>
    </header>

    <section style="padding-top: 15px; padding-bottom:5px;" class="contact bg-primary" id="contact">
        <div class="container">
          <h3>Made with
            <i class="fa fa-heart" style="color:crimson">&hearts;</i>
            by <a href="https://deltaforce.club">Delta Force</a>.</h3>
        </div>
      </section>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "landing/vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "landing/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "landing/js/new-age.min.js" %}"></script>

  </body>

</html>
