{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% for event in events %}
        {%if is_admin or event.approved %}
            <div class="col-md-6 col-lg-4" style="margin-bottom: 15px;">
                <div class="card">
                    {%if event.image %}
                        <img class="img-fluid" src="{{event.image.url}}" alt="Card image cap">
                    {% else %}
                        <img class="img-fluid" src="{% static "images/default-image.png" %}" alt="Card image cap">
                    {% endif %}
                        <div class="card-body">
                        <h4 class="card-title">{{event.name}}</h4>
                        <h5 class="card-text" style="font-size:14px;font-weight: bold;">{{event.start}}, {{event.venue}}</h5>
                        <p class="card-text">{{event.category}}</p>
                        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-{{event.id}}">More Details</a>
                        {%if is_admin %}
                            {% if not event.approved %}
                                <a class="btn btn-warning btn-sm" onclick="displayAlertDialog('Approve', '{% url 'events:event_approve' event_id=event.id %}');">Approve</a>
                            {% endif %}
                            <a class="btn btn-danger btn-sm" onclick="displayAlertDialog('Delete', '{% url 'events:event_delete' event_id=event.id %}');">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="modal-{{event.id}}" class="modal fade" role="dialog" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{event.name}}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <center>
                            {%if event.image %}
                                <img class="img-fluid" src="{{event.image.url}}" style="margin-bottom: 20px;">
                            {% else %}
                                <img class="img-fluid" src="{% static "images/default-image.png" %}" style="margin-bottom: 20px;">
                            {% endif %}
                            <h5 style="margin-bottom: 20px;">{{event.description}}</h5>
                        </center>
                        <p><b>Timings : </b> {{event.start}} to {{event.end}}</p>
                        <p><b>Venue : </b> {{event.venue}}</p>
                        <p><b>Category : </b> {{event.category}}</p>
                    </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div id="modal-alert-dialog" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-body">
                <p id="modal-alert-content"></p>
                <center>
                    <a data-dismiss="modal" class="btn special-color-dark btn-sm" href="#">Cancel</a>
                    <a id="modal-alert-anchor" class="btn btn-primary btn-sm" href="#">Continue</a>
                </center>
            </div>
            </div>
        </div>
    </div>
    <script>
        function displayAlertDialog(action, url) {
            var content = "Do you want to " + action + " the event?";
            $('#modal-alert-content').html(content);
            $('#modal-alert-anchor').attr('href', url);
            $('#modal-alert-dialog').modal();
        }
    </script>
{% endblock %}